<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>OKBoss</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/css/fontawesome-all.min.css') }}">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='app/icons/icon-192x192.png') }}">
<script type="text/javascript" src="/static/scripts/quiz.js"></script>
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Welcome</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>Welcome</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
        
        
        <div class="card card-style bg-yellow-dark">
            <div class="content">
                <h1>Career Path Quiz</h1>
                <p>
                    Using our career path quiz, determine which career is best suited to your personality.
                </p>
                <a href="#" data-menu="quiz-1" class="btn btn-m btn-full gradient-highlight rounded-s font-600 font-13">Take the Quiz</a>
            </div>
        </div>

        <div class="card card-style bg-green-dark">
            <div class="content">
                <h1>View Jobs</h1>
                <p>
                    Search through available jobs that are recommended for you. It is reccomended you take the quiz before you start your hunt. Good luck!
                </p>
                <a href= 'jobcard' class="btn btn-m btn-full gradient-highlight rounded-s font-600 font-13">Start Job Search</a>
            </div>
        </div>
    </div>
    <!-- Page content ends here-->

    <!-- Quiz 1 -->
    <div id="quiz-1"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h1 class="font-36">Are you ready to find out your career path?</h1>
                <p>
                    This quiz will help you find a suitable career path. However, do note that you are always free to choose whichever career you want.<br><br>
                </p>
                <a href="#" data-menu="qn-1" class="btn btn-m font-600 gradient-blue">Click to Start</a>
            </div>
        </div>
    </div>
    
    <!-- Question 1 -->
    <div id="qn-1"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h6>
                    Question 1 of 10
                </h6>
                <h1 class="font-24">If you were to create a self-driving mini-car, what role would you take? </h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio11">
                    <label class="form-check-label" for="radio11">Algo / UI, come up with the path of the robot or design the web interface</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio12">
                    <label class="form-check-label" for="radio12">Security, ensure the robot doesnt get hacked</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio13">
                    <label class="form-check-label" for="radio13">Hardware, control the movement of the robot</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio14">
                    <label class="form-check-label" for="radio14">CV, recognise different images and carry out tasks based on that</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio15">
                    <label class="form-check-label" for="radio15">RPi, the brains of the whole robot</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="mt-4 pt-5"></div>
                <a href="#" data-menu = "qn-2" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
            </div>
        </div>
    </div>
    

    <!-- Question 2 -->
    <div id="qn-2"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h6>
                    Question 2 of 10
                </h6>
                <h1 class="font-24">How often do you do leetcode? </h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio21">
                    <label class="form-check-label" for="radio21">Everyday</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio22">
                    <label class="form-check-label" for="radio22">Once a week</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio23">
                    <label class="form-check-label" for="radio23">What is leetcode?</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio24">
                    <label class="form-check-label" for="radio24">Once a month</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio25">
                    <label class="form-check-label" for="radio25">Once a year</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="mt-4 pt-3"></div>
                
                <a href="#" data-menu="qn-3" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
            </div>
        </div>
    </div>


    <!-- Question 3 -->
    <div id="qn-3"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h6>
                    Question 3 of 10
                </h6>
                <h1 class="font-24">If you were not a computer science / engineering major, what would your job be?</h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio31">
                    <label class="form-check-label" for="radio31">Jobless</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio32">
                    <label class="form-check-label" for="radio32">Security guard</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio33">
                    <label class="form-check-label" for="radio33">Some other engineer</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio34">
                    <label class="form-check-label" for="radio34">Mathematician</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio35">
                    <label class="form-check-label" for="radio35">Businessman</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="mt-4 pt-3"></div>
                
                <a href="#" data-menu="qn-4" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
            </div>
        </div>
    </div>
    
     <!-- Question 4 -->
     <div id="qn-4"
     class="menu menu-box-modal rounded-0"
     data-menu-width="cover"
     data-menu-height="cover">
    <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
    <div class="card-center">
        <div class="content">
            <h6>
                Question 4 of 10
            </h6>
            <h1 class="font-24">Among the few, what would you spend your free time doing?</h1>
            
            <div class="mt-4 pt-3"></div>
            
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio41">
                <label class="form-check-label" for="radio41">Leetcoding</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio42">
                <label class="form-check-label" for="radio42">Learning to break things</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio43">
                <label class="form-check-label" for="radio43">Tinkering with stuff</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio44">
                <label class="form-check-label" for="radio44">Looking at what things to improve by digitalizing them</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio45">
                <label class="form-check-label" for="radio45">Looking at how to optimise connections</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="mt-4 pt-3"></div>
            
            <a href="#" data-menu="qn-5" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
        </div>
    </div>
</div>

     <!-- Question 5 -->
     <div id="qn-5"
     class="menu menu-box-modal rounded-0"
     data-menu-width="cover"
     data-menu-height="cover">
    <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
    <div class="card-center">
        <div class="content">
            <h6>
                Question 5 of 10
            </h6>
            <h1 class="font-24">Which of these statements do you agree with most?</h1>
            
            <div class="mt-4 pt-3"></div>
            
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio51">
                <label class="form-check-label" for="radio51">I am an artistic person - I love drawing or designing.</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio52">
                <label class="form-check-label" for="radio52">I am a creative person who thinks out of the box.</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio53">
                <label class="form-check-label" for="radio53">I love tinkering and creating minature projects in my free time.</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio54">
                <label class="form-check-label" for="radio54">I love coming up with new ideas for things.</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio55">
                <label class="form-check-label" for="radio55">I am a logical person - I love math and science.</label>
                <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
            </div>
            <div class="mt-4 pt-3"></div>
            
            <a href="#" data-menu="qn-6" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
        </div>
    </div>
</div>

 <!-- Question 6 -->
 <div id="qn-6"
 class="menu menu-box-modal rounded-0"
 data-menu-width="cover"
 data-menu-height="cover">
<a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
<div class="card-center">
    <div class="content">
        <h6>
            Question 6 of 10
        </h6>
        <h1 class="font-24">What is 2 + 2?</h1>
        
        <div class="mt-4 pt-3"></div>
        
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio61">
            <label class="form-check-label" for="radio61">22</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio62">
            <label class="form-check-label" for="radio62">100 subscript 2</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio63">
            <label class="form-check-label" for="radio63">4</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio64">
            <label class="form-check-label" for="radio64">Epoch 1/100...</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio65">
            <label class="form-check-label" for="radio65">It depends</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="mt-4 pt-3"></div>
        
        <a href="#" data-menu="qn-7" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
    </div>
</div>
</div>

 <!-- Question 7 -->
 <div id="qn-7"
 class="menu menu-box-modal rounded-0"
 data-menu-width="cover"
 data-menu-height="cover">
<a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
<div class="card-center">
    <div class="content">
        <h6>
            Question 7 of 10
        </h6>
        <h1 class="font-24">How would you describe yourself?</h1>
        
        <div class="mt-4 pt-3"></div>
        
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio71">
            <label class="form-check-label" for="radio71">Enthusiastic and bubbly</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio72">
            <label class="form-check-label" for="radio72">Boring and nerdy</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio73">
            <label class="form-check-label" for="radio73">Scary</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio74">
            <label class="form-check-label" for="radio74">Learning as you grow</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio75">
            <label class="form-check-label" for="radio75">Analytical</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="mt-4 pt-3"></div>
        
        <a href="#" data-menu="qn-8" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
    </div>
</div>
</div>

 <!-- Question 8 -->
 <div id="qn-8"
 class="menu menu-box-modal rounded-0"
 data-menu-width="cover"
 data-menu-height="cover">
<a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
<div class="card-center">
    <div class="content">
        <h6>
            Question 8 of 10
        </h6>
        <h1 class="font-24">When you see a cool new thing like a gadget or an app, do you think:</h1>
        
        <div class="mt-4 pt-3"></div>
        
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio81">
            <label class="form-check-label" for="radio81">AWESOME!!!!</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio82">
            <label class="form-check-label" for="radio82">How to break it?</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio83">
            <label class="form-check-label" for="radio83">Not related to me</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio84">
            <label class="form-check-label" for="radio84">I wonder how it works</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio85">
            <label class="form-check-label" for="radio85">What goes along in the background?</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="mt-4 pt-3"></div>
        
        <a href="#" data-menu="qn-9" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
    </div>
</div>
</div>

 <!-- Question 9 -->
 <div id="qn-9"
 class="menu menu-box-modal rounded-0"
 data-menu-width="cover"
 data-menu-height="cover">
<a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
<div class="card-center">
    <div class="content">
        <h6>
            Question 9 of 10
        </h6>
        <h1 class="font-24">Which of these statements best describes you during a group discussion?</h1>
        
        <div class="mt-4 pt-3"></div>
        
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio91">
            <label class="form-check-label" for="radio91">I will listen to what the manager or the leader has to say and follow along.</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio92">
            <label class="form-check-label" for="radio92">I dont understand it at all, but I will put in the effort to find out on my own.</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio93">
            <label class="form-check-label" for="radio93">I tend to stick to my thoughts and say what is on my mind</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio94">
            <label class="form-check-label" for="radio94">I learn as the meeting goes</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio95">
            <label class="form-check-label" for="radio95">I dont understand it at all, but I will find out immediately by asking.</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="mt-4 pt-3"></div>
        
        <a href="#" data-menu="qn-10" class="btn btn-m font-600 gradient-blue" onclick="getAnswer();">Next Question</a>
    </div>
</div>
</div>

 <!-- Question 10 -->
 <div id="qn-10"
 class="menu menu-box-modal rounded-0"
 data-menu-width="cover"
 data-menu-height="cover">
<a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
<div class="card-center">
    <div class="content">
        <h6>
            Question 10 of 10
        </h6>
        <h1 class="font-24">Given a chance, who / what would you use to give a speech?</h1>
        
        <div class="mt-4 pt-3"></div>
        
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio01">
            <label class="form-check-label" for="radio01">Someone else, not me can already</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio02">
            <label class="form-check-label" for="radio02">Takes MC on presentation day</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio03">
            <label class="form-check-label" for="radio03">Just whack only</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio04">
            <label class="form-check-label" for="radio04">An NLP AI</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="form-check icon-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio05">
            <label class="form-check-label" for="radio05">Gives the speech</label>
            <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
            <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
        </div>
        <div class="mt-4 pt-3"></div>
        <a href='result' class="close-menu btn btn-m font-600 gradient-blue" onclick="getAnswer(); heapSort();">Show me my result!</a>
    </div>
</div>
</div>
</div>

 
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div>
    
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/custom.js') }}"></script>
</body>
